<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <% if user_signed_in? %>

        <%= link_to image_tag('LOGO3.png', :size => "71x82" ), home_indexUser_path, class: "navbar-brand mx-4"%>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
            <%= link_to 'Community', posts_path, class: "nav-link mx-4 text-light" %><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <%= link_to 'MarketPlace', home_market_path, class: "nav-link mx-4 text-light" %>
        </li>

        <li class="nav-item active">
            <%= link_to 'About', home_indexUser_path, class: "nav-link mx-4 text-light" %>
        </li>

        <li class="nav-item active">
            <%= link_to 'Appoinment', home_indexUser_path, class: "appoinment nav-link mx-4 text-light bg-warning" %>
        </li>

        <li class="nav-item dropdown mx-auto">
        <a class="nav-link dropdown-toggle active text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Edit', edit_user_registration_path, class: "dropdown-item " %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete , class: "dropdown-item " %>        
        </div>
        </li>
        </ul>
   
        <%= link_to '<i class="fas fa-cart-plus fa-2x"></i>'.html_safe, cart_path, class: "nav-link mx-4" %>


    <% else %>
        
        <%= link_to image_tag('LOGO3.png', :size => "71x82" ), root_path, class: "navbar-brand mx-4"%>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
            <%= link_to 'Community', posts_path, class: "nav-link mx-4 text-light" %><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <%= link_to 'MarketPlace', home_market_path, class: "nav-link mx-4 text-light" %>
        </li>

        <li class="nav-item active">
            <%= link_to 'About', home_indexUser_path, class: "nav-link mx-4 text-light" %>
        </li>

        <li class="nav-item active">
            <%= link_to 'Appoinment', home_indexVisit_path, class: "appoinment nav-link mx-4 text-light bg-warning" %>
        </li>
        
        <%= link_to image_tag('paw.png', :size => "49x60" ), root_path, class: "navbar-brand ml-5 "%>
    </ul>
    </div>
    <% end %>


</nav>