<div class="container-fluid homeVisit">
    
    <div class="container">
        <p class="pt-5 text-info"> Be part of our new community</p>
        <p class="pl-5 text-info" >PET LOVERS!</p>
            <li class="nav-item no-bullets p-2"> <%= link_to 'Sign Up Here', new_user_registration_path , class: "text-light btn btn-warning btn-lg", type: "button" %></li>
            <li class="nav-item no-bullets p-2"><%= link_to 'Are you already a member? Enter here', new_user_session_path , class: "text-light btn btn-warning btn-lg", type: "button" %></li>
            <li class="nav-item no-bullets p-2"><%= link_to 'Enter with Facebook', user_facebook_omniauth_authorize_path, method: :post , class: "text-light btn btn-warning btn-lg", type: "button" %></li>
            <li class="nav-item no-bullets p-2"><%= link_to 'You are a profesional? Enter here', new_veterinary_session_path , class: "text-light btn btn-warning btn-lg", type: "button" %></li>
    </div>
</div>


<div class="container-fluid homeVisit1 my-5">
    
</div>

<div class="container text-info">
    <hr>
    <div class="my-4 text-center"> <h2>QUIENES SOMOS?</h2><%= image_tag("COMUNIDAD.png", size: "215x198", alt: "Edit Entry" ,class: "my-3")%> <p class= "mt-4">Somos una comunidad online amante de los animales, queremos y cuidamos a nuestras y a tus mascotas. Queremos compartir nuestros conocimientos y guiar a quienes necesiten ayuda o un consejo.</p> </div><br><hr>
    <div class="my-4 text-center"> <h2>QUE HACEMOS?</h2><%= image_tag("CHAT.png", size: "215x198", alt: "Edit Entry" ,class: "my-3")%><p class= "mt-4">En esta app puedes participar de nuestra comunidad a traves de un chat en vivo con profesionales y pet lovers dispuestos a responder todas las dudas que tengas con respecto a tus mascotas. </p> </div><br><hr>
    <div class="my-4 text-center"> <h2>QUE HACEMOS?</h2><%= image_tag("MEDICINA.png", size: "215x198", alt: "Edit Entry" ,class: "my-3")%><p class= "mt-4">En nuestra app puedes agendar citas con centros veterinarios que esten más cerca de ti. Podrás ver su disponibilidad por comuna o región según tus necesidades.</p></div><br><hr>
    <div class="my-4 text-center"> <h2>QUE HACEMOS?</h2><%= image_tag("MERCADO.png", size: "215x198", alt: "Edit Entry" ,class: "my-3")%><p class= "mt-4">Tenemos un mercado donde puedes comprar o vender lo que necesites para tus mascotas, desde alimentación hasta entretención, para regalonear a tus amores.</p> </div><br><hr class="bg-warning">
    <br>
</div>