<p id="notice"><%= notice %></p>


<div class="container-fluid">

      <h1 class="text-center my-3">COMMENTS</h1>
      <% @post.comments.each do |comment| %>
      <div class="row">
        <div class="col-sm my-2 mx-0 mx-0">

        </div>

        <div class="col-sm card my-2">

          
          <div class="container p-4">
            <div class="row">
              <div class="col-sm">
                <% if @post.user.photo.attached? %>
                <div class="tweet-img">
                  <%= image_tag comment.user.photo.variant(resize:  "100x100", colorspace: "gray"), class: 'rounded img-responsive mb-4'%>
                                 <% if current_user.id == comment.user_id %>
                <li class="no-bullets"><%= link_to 'Show', comment, class: "btn btn-success mt-3" %></li>
                <li class="no-bullets"><%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-warning mt-3" %></li>
                <li class="no-bullets"><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mt-3" %></li>
                <% end %>
                </div>
                <% else %>
                 <div class="tweet-img">
                  <%= image_tag("COMUNIDAD.png", size: "100x100", alt: "Edit Entry" ,class: "my-3")%>
                </div>
                <% end %>
              </div>
              <div class="col-sm">
                <%= comment.content %>
 
              </div>
              
            </div>
          </div>
        </div>       


        <div class="col-sm my-2 text-right mx-0 p-0">

        </div>
        
      </div>
      <% end %>

      <p class="text-center"><%= link_to 'Back', posts_path, class: " my-4 btn btn-primary"%></p>
</div>

      